<div style="">
	<div style="text-align: center">
		<h1>ようこそEveryLawへ</h1>
	</div>
		<div style="font-size: 25px; margin: 0 70px 0 70px">
			<P>EveryLawはみんなで法律の相談・回答をしあえる法律専門サイトです。法律専門サイトなので、法律に関する小さな疑問から弁護士でも意見が分かれるような難しい質問まで幅広く相談することができます。</P>
		</div>
</div>