<div style="border: 1px solid black; margin: 20px">
	<div style="border: 1px solid black; margin: 10px">
		<div style="text-align: center">
			<h1>ようこそEveryLawへ</h1>
		</div>
		<div style="font-size: 25px; margin: 0 70px 0 70px">
			<P>EveryLawはみんなで法律の相談・回答をしあえる法律専門サイトです。法律専門サイトなので、法律に関する小さな疑問から弁護士でも意見が分かれるような難しい質問まで幅広く相談することができます。</P>
		</div>
	</div>

    <div style="border: 1px solid black; margin: 10px">
		<div style="text-align: center">
			<h1>EveryLawの理念</h1>
		</div>
		<div style="font-size: 25px; margin: 0 70px 0 70px">
			<p>私は法学部出身で就職してから友人や職場の人から法律相談をされることがありました。世の中には法律の問題や疑問を持っている人がたくさんいると知り、すこしでも解決のお手伝いが出来たらと思いこのサイトを作りました。<br>
			EveryLawではユーザー1人1人が自由に質問・回答をすることができます。しかし、悪口や誹謗中傷といった悪質な書き込みは削除させていただきます。</p>
		</div>
	</div>

	<div style="border: 1px solid black; margin: 10px">
		<div style="text-align: center">
			<h1>機能説明</h1>
		</div>
		<div style="font-size: 25px; margin: 0 70px 0 70px">
			<p>質問と回答の閲覧はログインの有無にかかわらず、自由に閲覧していただけます。しかし、質問と回答の投稿につきましてはログイン後のみご利用いただけます。会員登録はメールアドレスとパスワードの設定だけで簡単に登録できますので、ぜひご利用ください。<br>
			EveryLawでは、回答していただきましたユーザー様に対してポイントを付与しております。ポイントにつきましては回答していただいた内容に応じて、運営より付与させていただきます。付与まで数日かかる場合がございます。</p>
		</div>
	</div>
	<div style="border: 1px solid black; margin: 10px">
		<div style="text-align: center">
			<h1>免責事項</h1>
		</div>
		<div style="font-size: 25px; margin: 0 70px 0 70px">
			<p>当サイトのご利用につき、何らかのトラブルや損失・被害等につきましては、一切の責任を問わないものとします。また、当サイトからリンクやバナーなどによって他サイトに移動された場合、移動先サイトで提供される情報、サービス等については一切の責任を負いません。</p>
		</div>
	</div>
</div>