// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
	border: 1px solid black; margin: 20px;
}

.about_sub {
	border: 1px solid black; margin: 10px;
}

.about_title {
	text-align: center;
}

.about_body {
	font-size: 25px; margin: 0 70px 0 70px;
}

.global {
	margin: 50px 100px;
}

.primary {
	padding-left: 50px;
}

.main {
	font-size: 40px; display: inline-block; margin-left: 50px;
}

.secondary {
	margin-left: 50px;
}

.tertiary {
	font-size: 25px; margin-bottom: 50px;
}

.tertiary_sub {
	font-size: 25px;
}